@font-face { font-family: Roboto; src: url('Roboto-Regular.ttf'); } 
@font-face { font-family: Rajdhani; src: url('Rajdhani-Medium.ttf'); } 
@font-face { font-family: Play; src: url('Play-Regular.ttf'); } 
@font-face { font-family: Play-Bold; font-weight: bold; src: url('Play-Bold.ttf');}