@font-face { font-family: Roboto; src: url('Roboto-Regular.ttf'); } 
@font-face { font-family: Rajdhani; src: url('Rajdhani-Medium.ttf'); } 
@font-face { font-family: Play; src: url('Play-Regular.ttf'); } 
@font-face { font-family: Play-Bold; font-weight: bold; src: url('Play-Bold.ttf');}

/*centers content and removes unneeded whitespace*/
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    overflow-x:hidden /*allows background to go entire width of screen*/
}

/*aligns list to the left*/
ul {
    text-align: left;
}

/*change background colors for sections*/
#about, #accomplishments {
    background-color: #2f2f30;
    text-align: left;
    margin: -30px;
    padding: 100px;
    color: #d4d9dd;
}
#services, #contact {
    background-color: #202324;
    text-align: right;
    margin: -30px;
    padding: 100px;
    color: #d4d9dd;
}

/*change footing color and scaling*/
#footer {
    background-color: #2f2f30;
    color: #d4d9dd;
    padding-bottom: 2em;
}
#footer img {
    width: 75px;
    padding: 20px;
}

/*change font size*/
p {
    font-size: 1.5em;
}
h3{
    font-size: 2em;
}
h2{
    font-size: 2.5em;
    background-color: black;
    color: #d4d9dd;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 4em;
    padding-top: 1em;
}
h1{
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*edit links*/
a {
    color: rgb(248, 248, 248);
}

/*edit top navigation links*/
#topNav {
    background-color:black;
    margin-bottom: 30px;
    padding-top: 2em;
    padding-bottom: 2em;
}
#topNav a {
    color: #d4d9dd;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}
#topNav a:hover {
    color: black;
    background-color: #2b343d;
}

/*provides a different configuration for smaller screens*/
@media screen and (max-width: 900px) {
    #topNav a {
        padding-top: .5em;
        padding-bottom: .5em;
        display: block;
    }
    #topNav {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #about, #services, #contact, #accomplishments {
        padding: 40px;
    }
}

/*photo edit*/
#photo {
    width: 100%;
    height: 500px;
    margin-top: -30px;
    margin-bottom: -10px;
}
